---
layout: single
author_profile: true
intro:
  - excerpt: '**Hi there, welcome to my personal webpages. Here you can get to know me better.**'
feature_row:
  - image_path: assets/images/splash-phd.jpg
    alt: "A picture of me at work"
    title: "Biology"
    excerpt: "My interests as a biologist."
    url: "/biology/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/splash-photography.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "Photography"
    title: "Photography"
    excerpt: "Short photography portfolio."
    url: "/photography/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/splash-music.jpg
    alt: "Logo of my music artist name"
    title: "Music"
    excerpt: "Few songs I composed."
    url: "/music/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
